<div class="fixed inset-0 flex items-center justify-center z-50"
            style="background-color: rgba(44, 43, 43, 0.3);" *ngIf="visible">
    <div class="modal-content bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-2xl mx-auto">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">
            Contactanos
        </h2>
        <h3 class="mb-4 text-4lg tracking-tight font-semibold text-center text-gray-900 dark:text-white">Haznos saber que necesitas estamos encantados de ayudarte</h3>

        <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="space-y-6">
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Correo electronico</label>
                <input type="email" id="email" name="email" [(ngModel)]="contact.email"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                    placeholder="ejemplo@gmail.com" required />
            </div>

            <div>
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Numero de telefono</label>
                <input type="tel" id="phone" name="phone" [(ngModel)]="contact.phone"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                    placeholder="+34 683 415 754" />
            </div>

            <div>
                <label for="subject"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Asunto</label>
                <input type="text" id="subject" name="subject" [(ngModel)]="contact.subject"
                    class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                    placeholder="Asunto..." required />
            </div>

            <div>
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Mensaje</label>
                <textarea id="message" name="message" rows="6" [(ngModel)]="contact.message"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                    placeholder="Deja un mensaje..." required></textarea>
            </div>

            <div class="flex justify-between">
                <button type="submit" [disabled]="!contactForm.valid"
                    class="cursor-pointer py-3 px-5 text-sm font-medium text-white rounded-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Enviar mensaje
                </button>
                <button type="button" (click)="close()"
                    class="cursor-pointer py-3 px-5 text-sm font-medium hover:bg-gray-700 text-gray-700 border border-gray-300 rounded-lg dark:text-white dark:border-gray-500">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>