<body class="bg-gray-900 min-h-screen flex items-center justify-center">
    <div class="bg-gray-800 text-white p-8 rounded-xl shadow-lg max-w-xl text-center">
        <div class="flex justify-center mb-4">
            <i class="fas fa-check-circle text-red-500 text-5xl"></i>
        </div>
        <h2 class="text-2xl font-bold mb-2 text-red-500">¡Ooops! Algo ha salido mal</h2>
        <p class="text-gray-300 mb-6">
            Tu compra no se ha podido realizar con exito, porfavor intentelo de nuevo.
        </p>
        <a routerLink="/inicio"
            class="cursor-pointer inline-block bg-red-800 hover:bg-red-700 text-white font-semibold py-3 px-6 rounded-xl transition duration-300">
            Volver al inicio
        </a>
    </div>
</body>
